@page
@model laba555.Pages.PluginsModel
@{
    ViewData["Title"] = "Plugins";
}

<h1>@ViewData["Title"]</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plugin in Model.Plugins)
        {
            <tr>
                <td>@plugin.Name</td>
                <td>@plugin.Author</td>
                <td>@plugin.Version</td>
                <td>@plugin.Type</td>
            </tr>
        }
    </tbody>
</table>
